<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Documentation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>StateMachine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>StateMachineTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D162CDE91904941500FC9AE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D162CDF91904941500FC9AE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1C8DCBE193C0AE400675E16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1C8DCC5193C0CD400675E16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1D951251E9FAD6C00778C78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1D951321E9FADC000778C78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1D951411E9FE59300778C78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
